table {
  border: 3px solid black;
  margin: 30px;
  align-content: center;
}

tr,
td {
  border: 1px dotted grey;
}

li {
  display: inline-block;
  padding: 20px;
  align-items: left;
}

header {
  background-color: antiquewhite;
}

footer {
  display: block;
  margin: 30px;
  padding: 20px;
  background-color: grey;
  color: white;
}

footer a {
  display: block;
}

nav a {
  font-weight: bold;
  display: inline-block;
}
